<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form">
 <div class="field">
    <%= f.label :Ticket %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :logged_date %><br>
    <%= f.text_field :Problemno,:placeholder => "Ticket Number if any.." %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :logged_date , :Type => 'date' , :required => 'required' %>
    <br>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description,:placeholder => "Type the description" , :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label :error %><br>
    <%= f.text_field :error ,:placeholder => "Type the error if any" %>
  </div>
  <div class="field">
    <%= f.label :cause %><br>
    <%= f.text_field :cause, :placeholder => "Type the cause", :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label :solution %><br>
    <%= f.text_area :solution, :placeholder => "Type the solution", :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label :Solved_by %><br>
    <%= f.text_field :solver,:placeholder => "Solution submitted by.." , :required => 'required' %>
  </div>
  <br>
  <div class="actions">
   <div class="bas">
     <%= f.submit :class => 'button' , :value => 'Submit Solution' %>
    </div>
  </div>
<% end %>
</div>
